   * {
       margin: 0;
       padding: 0;
       box-sizing: border-box;
   }
   body{
    background: rgba(138, 81, 252, 1);
   }

   main {
       width: 375px;
       height: 712px;
       background: white;
       border-radius: 20px;
       margin: 0 auto;
       padding: 44px 23px 24px;


   }

   .roboto-regular {
       font-family: "Roboto", sans-serif;
       font-weight: 400;
       font-style: normal;

   }

   .roboto-bold {
       font-family: "Roboto", sans-serif;
       font-weight: 700;
       font-style: normal;
   }



   .logo-top {
       width: 200px;
       height: 200px;
       display: block;
       margin: 20px auto;

   }

   .moeda-convertendo {
    display: block;
       width: 50px;
       height: 50px;
       margin:20px auto;

   }

   label {
    display:block;
       font-family: Roboto;
       font-size: 14px;
       font-weight: 400;
       color: rgba(119, 119, 119, 1);
       width: 327px;
       height: 72px;
       
      

   }

   select {
    width: 327px;
    height: 60px;
    border-radius: 10px;
       font-family: Roboto;
       font-size: 16px;
       font-weight: 700;
       text-align: left;
       color: rgba(85, 85, 85, 1);
       background: white;
       
   }

   button {
    display: block;
    width: 327px;
    height: 48px;
       font-size: 18px;
       color: white;
       background: rgba(119, 47, 211, 1);

   }
   section{
    display: block;
    width: 127px;
    height: 251px;
    margin: -280px auto;
    text-align: center;
    background: green;
   }