   * {
       margin: 0;
       padding: 0;
       box-sizing: border-box;
   }

   body {
       background: rgba(138, 81, 252, 1);
   }

   main {
       width: 375px;
       height: 712px;
       background: white;
       border-radius: 20px;
       margin: 0 auto;
       padding: 44px 23px 24px;
       margin-bottom: 30px;


   }

   .roboto-regular {
       font-family: "Roboto", sans-serif;
       font-weight: 400;
       font-style: normal;

   }

   .roboto-bold {
       font-family: "Roboto", sans-serif;
       font-weight: 700;
       font-style: normal;
   }



   .logo-top {
       width: 150px;
       height: 150px;
       display: block;
       margin: 20px auto;

   }

   /* .moeda-girando-esq {
    display: block;
       width: 70px;
       height: 70px;
    margin:;
      

   }
   .moeda-girando-dirt {
     display: block;
       width: 70px;
       height: 70px;
       margin-left: 270px;

   }  */

   label {
       display: block;
       font-family: Roboto;
       font-size: 14px;
       font-weight: 400;
       color: rgba(119, 119, 119, 1);
       width: 327px;
       height: 72px;
       margin: 20px auto;

   }

   select {
       width: 327px;
       height: 50px;
       border-radius: 4px;
       border: 1 solid;
       font-family: Roboto;
       font-size: 16px;
       font-weight: 700;
       color: rgba(85, 85, 85, 1);
       background: white;
       padding: 10px;
       margin-top: 10px;


   }

   input {
       width: 327px;
       height: 50px;
       border-radius: 4px;
       border: 1 solid;
       padding: 10px;
       margin-top: 10px;
       font-family: Roboto;
       font-size: 16px;
       font-weight: 700;
       color: rgba(85, 85, 85, 1);


   }

   button {
       display: block;
       width: 327px;
       height: 48px;
       font-size: 18px;
       color: white;
       background: rgba(119, 47, 211, 1);
       cursor: pointer;

   }


   section {
       display: block;
       width: 327px;
       height: 290px;
       margin-top:20px ;
       text-align: center;
       border: 1px solid rgba(119, 47, 211, 1);
       border-radius: 20px;
   }

   div {
       padding: 10px 10px;
   }

   p {
       font-family: Roboto;
       font-size: 14px;
       font-weight: 400px;
       color: rgba(119, 119, 119, 1);

   }

   .currency-value-to-convert,
   .currency-value-converted {
       font-family: Roboto;
       font-size: 20px;
       font-weight: 700;
       color: rgba(85, 85, 85, 1);

   }